<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header">

        <title>Layout Page</title>   
        <th:block th:fragment="head">
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="" rel="stylesheet"/>
            <link th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" href="" rel="stylesheet"/>
            <link th:href="@{/css/listAdmin.css}" href="" rel="stylesheet"/>
            <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
        </th:block>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div th:fragment="menu" class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">Admin</div>
                <div class="list-group list-group-flush">
                    <a th:href="@{/admin/listflight}" class="list-group-item list-group-item-action bg-light">Flight List</a>
                    <a th:href="@{/admin/listorder}" class="list-group-item list-group-item-action bg-light">Oder List</a>
                </div>
            </div>
            <section layout:fragment="content"></section>
        </div>
        <th:block th:fragment="js_layout">
            <script th:src="@{/js/jquery.slim.min.js}" src=""/>
            <script th:src="@{/fontawesome/js/fontawesome.min.js}" src=""/>
            <script th:src="@{/bootstrap/js/bootstrap.min.js}" src=""/> 
        </th:block>
    </body>
</html>
