<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title th:fragment="title">List Flight</title>
        <th:block th:replace="admin/layout::head"></th:block>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div th:replace="admin/layout::menu"></div>
            <div layout:fragment="content" id="page-content-wrapper">
                <div id="title">
                    <h1>List Flight</h1> 
                </div>
                <div class="card-body">
                    <div id="table" class="table-editable">

                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Flight Number</th>
                                    <th class="text-center">Departure Airport</th>
                                    <th class="text-center">Arrive Airport</th>
                                    <th class="text-center">Departure Date</th>
                                    <th class="text-center">Arrive Date</th>
                                    <th class="text-center">Price</th>
                                    <th>
                                        <a th:href="@{/admin/addFlight}" class="btn btn-success"> <i class="fa fa-plus"></i>Add</a>
                                        
                                    </th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr th:each="flight: ${listFlight}">
                                    <td th:text="${flight.flightNumber}" class="pt-3-half" contenteditable="true"></td>
                                    <td th:text="${flight.departAirportName}" class="pt-3-half" contenteditable="true"></td>
                                    <td th:text="${flight.arrivAirportName}" class="pt-3-half" contenteditable="true"></td>
                                    <td th:text="${flight.departDate}" class="pt-3-half" contenteditable="true"></td>
                                    <td th:text="${flight.arrivDate}" class="pt-3-half" contenteditable="true"></td>
                                    <td th:text="${flight.price}" class="pt-3-half" contenteditable="true">Aurelia Vega</td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <a class="btn btn-success btn-sm rounded-0" 
                                                   th:href = "@{'/admin/edit/' + ${flight.id}}"
                                                   data-toggle="tooltip" 
                                                   data-placement="top" 
                                                   title="Edit"><i class="fa fa-edit"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <form id = "delete_form"th:action= "@{'/admin/delete/' + ${flight.id}}" method="post">
                                                    <input type="hidden" name="name" value="value"/>
                                                    <a class="btn btn-danger btn-sm rounded-0" 
                                                       data-toggle="tooltip" 
                                                       data-placement="top"
                                                       onclick="this.parentNode.submit();"
                                                       title="Delete"><i class="fa fa-trash"></i></a>
                                                </form>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 

        <th:block th:replace="admin/layout::js_layout"></th:block>
    </body>
</html>
