<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    
    <head th:replace="admin/layout:: head">
        
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div th:replace="admin/layout:: menu"></div>
            <div id="page-content-wrapper">
                <div id="wellcomeTitle">
                    <h1>Wellcome page Admin</h1> 
                </div>
            </div>

        </div>

    </body>
</html>
