<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link th:href ="@{/css/todo.css}" rel="stylesheet"/>
    <script th:src="@{/js/todo.js}"></script>
    <body>


        <form  method="post">
            <div class="form-group row" >
                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-5">
                    <input  type="text" class="form-control" id="titleTodo" placeholder="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Detail</label>
                <div class="col-sm-5">
                    <input  type="text"  class="form-control" id="detailTodo" placeholder="Detail">
                </div>
            </div>
            <!--<div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Detail</label>
                <div class="col-sm-5">
                    <input  type="text" th:field="*{userId}" class="form-control" id="userId" placeholder="Detail">
                </div>
            </div>-->
           

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" id="btnAdd" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </body>
</html>
