<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Layout Page</title>
        <th:block th:fragment="head">
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link th:href="@{/bootstrap/css/bootstrap.min.css}" href="" rel="stylesheet"/>
            <link th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" href="" rel="stylesheet"/>
            
            <script th:src="@{/js/jquery.slim.min.js}" src=""></script>
            <link th:href="@{/css/wellcome.css}" href="" rel="stylesheet"/>
            <link th:href="@{/bootstrap/css/bootstrap-datetimepicker.min.css}" href="" rel="stylesheet"/>
            <link th:href="@{/css/listFlight.css}" href="" rel="stylesheet"/>
            <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
        </th:block>
    </head>

    <body>
        <th:block th:fragment="js_layout">
            <script th:src="@{/bootstrap/js/bootstrap.min.js}" src=""></script>
            <script th:src="@{/bootstrap/js/moment.min.js}" src=""></script>
            <script th:src="@{/bootstrap/js/bootstrap-datetimepicker.min.js}" src=""></script> 
        </th:block>
    </body>

</html>
