<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List Flight</title>
        <th:block th:replace="web/layout::head"></th:block>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div id="page-content-wrapper">
                <div id="title">
                    <h1>List Flight</h1> 
                </div>
                <form id = "search" th:action = "@{/searchFlight}" th:object="${flight}" method = "get">
                    <div class="form-group row" >
                        <label class="col-sm-2 col-form-label">From</label>
                        <select th:field="*{departAirportId}" class="col-sm-2" id="inlineFormCustomSelect">
                            <option selected="true" value="" disabled="true">Choose From...</option>
                            <option th:each="airport:${listAirport}" th:text="${airport.airportName}" th:value="${airport.airportId}"></option>    
                        </select>
                        <label class="col-sm-2 col-form-label">To</label>
                        <select th:field="*{arrivAirportId}" class="col-sm-2" id="inlineFormCustomSelect">
                            <option selected="true" value="" disabled="true">Choose To...</option>
                            <option th:each="airport:${listAirport}" th:text="${airport.airportName}" th:value="${airport.airportId}"></option>    
                        </select>
                    </div>
                    <div class="form-group row">            
                        <label class="col-sm-2 col-form-label" >Price From</label>
                        <input type="number" class="col-sm-2" th:field="*{priceFrom}"/>
                        <label class="col-sm-2 col-form-label" >Price To</label>
                        <input type="number" class="col-sm-2" th:field="*{priceTo}"/>
                        <!--<label class="col-sm-1 col-form-label">Type Flight</label>
                        <select th:field="*{}" name = "to" class="col-sm-2" id="inlineFormCustomSelect">
                            <option selected="true" value="" disabled="true">Choose To...</option>
                            <option th:value="OW">One Way</option>
                            <option th:value="RT">Return Trip</option>   
                        </select>
                        -->
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Date</label>
                        <div class='col-sm-2 input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" th:field="*{departDate}"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1">
                            <button type="submit" id="btnSearch" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div id="table" class="table-editable">
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Flight Number</th>
                                    <th class="text-center">Departure Airport</th>
                                    <th class="text-center">Arrive Airport</th>
                                    <th class="text-center">Departure Date</th>
                                    <th class="text-center">Arrive Date</th>
                                    <th class="text-center">Price</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr th:each="flight: ${listFlight}">
                                    <td th:text="${flight.flightNumber}" class="pt-3-half" contenteditable="false"></td>
                                    <td th:text="${flight.departAirportName}" class="pt-3-half" contenteditable="false"></td>
                                    <td th:text="${flight.arrivAirportName}" class="pt-3-half" contenteditable="false"></td>
                                    <td th:text="${flight.departDate}" class="pt-3-half" contenteditable="false"></td>
                                    <td th:text="${flight.arrivDate}" class="pt-3-half" contenteditable="false"></td>
                                    <td th:text="${flight.price}" class="pt-3-half" contenteditable="false"></td>
                                    <td>
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item">
                                                <button th:href="@{/addOrder}" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                            </li> 
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="web/layout::js_layout"></th:block>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'DD/MM/YYYY'
                });
            });
        </script>
    </body>
</html>
