<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8" />
        <title>Login Page</title>
        
    </head>
    <body>
        <div class="main-content">
            
            <h3>Login to continue</h3>
            <form th:action="@{/checkLogin}" method="post">
                <input type="text" name="userAccount" placeholder="User name" /><br />
                <input type="password" name="userPassword" placeholder="Your password" /><br />
                <button type="submit">Login</button> <br />
            </form>
        </div>
    </body>
</html>
